.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #ddd; /* Light grey */
  border-top-color: #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 40px auto; /* Center */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
