select {
  padding: 0.5rem;
}
.card {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  width: 150px;
  text-align: center;
}
.icon {
  width: 70px;
}
.list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.error {
  color: red;
  margin-top: 1rem;
}
.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #ddd; /* Light grey */
  border-top-color: #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 40px auto; /* Center */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
