body {
  font-family: Arial, sans-serif;
  margin: 2rem;
  background-color: #5d9be6;
}
.container {
  max-width: 72%;
  margin: 0 auto;
  background: #f9f9f9;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
header {
  margin-bottom: 2rem;
}
label {
  font-weight: bold;
  padding-right: 1rem;
}
select {
  padding: 0.5rem;
}
.card {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  width: 150px;
  text-align: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #97919152;
  line-height: 1.5;
}
.icon {
  width: 70px;
}
.list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.error {
  color: red;
  margin-top: 1rem;
}

.loader-overlay {
  position: fixed; /* Stays on top of everything */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5); /* optional blur */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Very high */
}
.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 40px auto;
}
.forecast-container {
  margin-top: 3rem;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
